/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Sep 5, 2015, 12:47:17 PM
    Author     : jaittariusrobinson
*/
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h3 {
    margin-left: 25%;
}

input {
    margin-left: 5%;
    width: 90%;
}

li {
    list-style-type: none;
}

.container {
    width: 100%;
    margin: 0;
}

#map {
    height: 100%;
}

#map-container {
    height: 100vh;
    max-width: 100%;
}

.dropdown {
    position: absolute;
    margin-top: 50px;
    margin-left: 15px;
    background: white;
    float: left;
    z-index: 1;
}